.entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 152px auto 0;
  max-width: 340px;
  max-height: 535px;

  img {
    width: 80px;
    height: 80px;
  }

  &-btns {
    display: flex;
    margin-top: 109px;
  }

  &-lang {
    border: none;
    background: none;
    font-size: 16px;
    font-weight: normal;
    line-height: 21.6px;
    color: #79747f;
    cursor: pointer;
    padding: 0;

    &_selected {
      font-size: 24px;
      font-weight: normal;
      line-height: 21px;
      color: #7362bc;
    }
    &:last-of-type {
      padding-left: 8px;
    }
  }
}
