.header {
  background-color: #fdfdff;
  border-bottom: 1px solid #f6f6fe;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0px 2px 4px 0px #8f8fb712, 0px 7px 7px 0px #8f8fb70f,
    0px 15px 9px 0px #8f8fb70a, 0px 27px 11px 0px #8f8fb703,
    0px 42px 12px 0px #8f8fb700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  h1 {
    font-size: 24px;
    font-weight: normal;
    line-height: 24px;
    color: #323854;
    margin: 0 0 0 32px;

    mark {
      color: #7362bc;
      background-color: transparent;
    }
  }
  &-buttons {
    display: flex;
    align-content: center;
    justify-items: center;
    padding: 12px 50px 12px 0;
  }
  &-chat {
    background: none;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid #7362bc;
    position: relative;
    padding: 0;
    margin-right: 16px;
    cursor: pointer;
  }

  &-icon {
    width: 24px;
    height: 24px;
  }

  &-notification {
    position: absolute;
    top: -3px;
    right: -3px;
    width: 16px;
    height: 16px;
  }
  &-dropdown {
    border: none;
    background: none;
    padding: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
  }

  &-menu {
    margin-left: 8px;
    align-self: center;
    justify-self: start;
    width: 8px;
    height: 4px;
  }
}
