.calendar {
  display: flex;

  &-month {
    display: flex;

    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    color: #323854;

    button {
      width: 24px;
      height: 24px;
      border: none;
      background: none;
    }
    span {
      margin: 0 16px;
    }
  }
}
