.upcoming {
  grid-row: 1 / span 2;
  background-color: #fff1cb;
  border-radius: 30px;
  color: #323854;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 32px 62px;
  text-align: center;

  h3 {
    font-size: 20px;
    font-weight: normal;
    line-height: 20px;
    margin: 0;
    color: #323854;
  }
  p {
    font-size: 15px;
    font-weight: normal;
    line-height: 20.25px;
    color: #323854;
  }
  mark {
    color: #323854;
    font-size: 36px;
    font-weight: normal;
    line-height: 35px;
    margin: 0 4px 0 12px;
    background: none;
    &:first-of-type {
      margin-left: 0;
    }
  }

  button {
    color: #323854;
    font-size: 16px;
    font-weight: normal;
    line-height: 21.6px;
    padding: 13px 0;
    width: 100%;
    border-radius: 30px;
    border: 1px dashed #323854;
    background: none;
    cursor: pointer;
  }
}
