.schedule {
  display: flex;

  &-container {
    max-width: 1154px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &-banners {
    display: grid;
    grid-template-columns: 526px 344px 162px;
    grid-template-rows: repeat(2, 114px);
    gap: 20px;
    margin: 20px 0 20px 32px;
  }
}

.baner {
  grid-row: 1 / span 2;
  background-color: #7362bc;
  border-radius: 30px;
}

.upcoming {
  grid-row: 1 / span 2;
  background-color: #fff1cb;
  border-radius: 30px;
}

.homework {
  background-color: #d8ecff;
  border-radius: 30px;
}
.report {
  background-color: #e8cbff;
  border-radius: 30px;
}

.balanse {
  width: 344px;
  padding: 28px 4px 30px 28px;
  border-radius: 30px;
  border: 1px solid #7362bc;
}

.schedules {
  width: 708px;
  grid-column: 2 / span 2;
  padding: 28px 4px 30px 28px;
  border-radius: 30px;
  border: 1px solid #7362bc;
}
