.schedule {
  display: flex;

  &-container {
    max-width: 1154px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &-textField {
    margin: 20px 50px 27px 32px;
    display: flex;
    justify-content: space-between;

    select {
      border-radius: 8px;
      border: 1px solid #ececec;
      font-size: 12px;
      font-weight: normal;
      line-height: 16.2px;
      color: #79747f;
      padding: 10px;
      width: 253px;
      outline: none;
    }

    select:hover {
      border-color: #888;
    }
    select:focus {
      outline: none;
    }

    button {
      color: #323854;
      font-size: 16px;
      font-weight: normal;
      line-height: 20px;
      text-align: center;
      padding: 10px 40px 10px 40px;
      width: 344px;
      border-radius: 30px;
      border: none;
      background: #decfff;
      cursor: pointer;
    }
  }
}
